html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    background-color: #f8f9fa;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    margin-top: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    margin-top: auto;
}

.custom-shadow {
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 8px 30px rgba(0, 0, 0, 0.15);
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    width: 100%;
}

.employee-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-social {
    border: 0;
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.btn.btn-social .fa {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 43px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}