# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
env/
venv/
conda/

# Node dependencies
node_modules

# Node out directory
dist
build

# Ignore git repository files
.git
.gitignore

# Ignore IDE/editor files
.vscode/
.vscode/*
.idea/
.idea/*
*.swp
.DS_Store

# Ignore sensitive files (e.g., config or env files)
.env
.conda
.conda/*
*.sqlite3
