# Ignore IDE files
.git
.vs
.vscode
.idea

# Ignore Node.js files
node_modules

# Ignore Environment files
.env

# Ignore Python files
*.pyc
*.pyd

# Ignore Python cache files
__pycache__
__pycache__/*

# Ignore Python virtual environments
conda
.conda
venv
.venv
env

# Ignore Python logs
.vercel