# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
env/
venv/
.venv/
conda/
.conda/

# Ignore IDE/editor files
.vs
.git
.idea
.vscode

# Ignore Node dependencies
node_modules

# Ignore Node out directory
dist
build

# Ignore sensitive files (e.g., config or env files)
.env
*.sqlite3
.vercel
